/* common pitfalls that hide container_item_links */
.container {
  display: flex;      /* if flex-direction is row, inner divs may collapse */
  gap: 1.5rem;         /* space between inner divs */
  justify-content: flex-start;  /* center inner divs vertically */
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

 


.container_item_title {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.container_item {
  position: relative;
  padding: 1rem;

}

.container_item_links {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 1.4rem;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.container_item:hover > .container_item_links {
  display: flex;
  cursor: pointer;
 
}