@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}
html{
    font-size: 62.5%; /* 62.5% of 16px = 10px */

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 600;
    color: #333;
}

a {
  color: #1d4ed8; /* blue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}