.container {

  display: flex;      /* if flex-direction is row, inner divs may collapse */
  gap: 1.5rem;         /* space between inner divs */
  justify-content: flex-start;  /* center inner divs vertically */
  width: 100%;
  background-color: white;
}
 

.visible{
    /* position: fixed; */
}

.no_visible{
    position: fixed;
/* 
  transition: nav_animation 0.2s; */
   box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
   z-index: 1;


}

@keyframes nav_animation {
  from{
    margin-top: 0px;
  }
  to{
    margin-bottom: 0px;
  }
  
}

 


.container_item_title {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}

.container_item {
  position: relative;
  padding: 1.2rem;

}

.container_item_links {
  position: absolute;
  top: 100%;
  left: 10%;
  background-color: #f9f9f9;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  flex-direction: column;
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

.container_item:hover > .container_item_links {
  display: flex;
  cursor: pointer;
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}



@keyframes slideIn{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

